---
layout: archive
permalink: /seminars/
title: "Seminars"
author_profile: true
redirect_from:
  - /wordpress/seminars
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for seminar in site.seminars %}
  {% capture year %}{{ seminar.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single-seminars.html %}
{% endfor %}
